<div class="view"></div>


<div class="home">
    <h1>배민 웨이팅</h1>
    {{#each main-desc}}
        <p>{{this}}</p>
    {{/each}}
    <div class="btn-area">
        <button id="btn-intro">서비스 소개</button>
        <button id="btn-go-store">가게 관리 하기</button>
    </div>
</div>


<div class="intro">
    <span id="btn-intro-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    {{#each serv-desc}}
        <p>{{this}}</p>
    {{/each}}
</div>


<div class="sign-in">
    <span id="btn-login-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    <div class="sign-area">

        <input type="text">
        <input type="password">
        <button id="btn-login">로그인</button>
        <button id="btn-go-sign-up">회원가입 하기</button>
    </div>
</div>


<div class="sign-up">
    <span id="btn-sign-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    <span class="sign-up-title">WELCOME</span>
    <div class="sign-up-form">
        <dl>
            <dt>이름</dt>
            <dd><input type="text"></dd>
            <dt>아이디</dt>
            <dd><input type="text"></dd>
            <dt>비밀번호</dt>
            <dd><input type="password"></dd>
            <dt>전화번호</dt>
            <dd><input type="text"></dd>
        </dl>
    </div>
    <button id="btn-sign-up">회원가입</button>
</div>


<div class="nav">
    <ul class="navigator">
        {{#each navi-list}}
        <li id={{this.id}} data-dest={{this.dest}}>{{this.to}}</li>
        {{/each}}
    </ul>
</div>


<div class="board"></div>
