<div class="view"></div>


<div class="home">
    <h1>배민 웨이팅</h1>
    {{#each main-desc}}
        <p>{{this}}</p>
    {{/each}}
    <div class="btn-area">
        <button id="btn-intro">서비스 소개</button>
        <button id="btn-go-store">가게 관리 하기</button>
    </div>
</div>


<div class="intro">
    <span id="btn-intro-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    <div class="intro-title">배민웨이팅, 이렇게 사용하세요</div>

    <div class="slide-navi">
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>

    <div class="slide-dots">
        <span data-n="1" class="curr"></span>
        <span data-n="2"></span>
        <span data-n="3"></span>
        <span data-n="4"></span>
    </div>

    <div class="slides">
        {{#each serv-desc}}
        <div class="slide-box">
            <div class="slides-img"><img src={{this.img}}></div>
            <p>{{this.content}}</p>  
        </div>
        {{/each}}
    </div>
</div>


<div class="sign-in">
    <span id="btn-login-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    <div class="sign-area">
        <img class="logo" src="/dist/public/images/logo.png" alt="logo">
        <input type="text" id="login-id" placeholder="ID">
        <input type="password" id="login-pwd" placeholder="●●●●●●">
        <p class="sign-warning">아이디와 비밀번호를 확인해주세요<p>
        <button id="btn-login">로그인</button>
        <button id="btn-go-sign-up">회원가입 하기</button>
    </div>
</div>


<div class="sign-up">
    <span id="btn-sign-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
    <span class="sign-up-title">WELCOME</span>
    <div class="sign-up-form">
        <dl>
            <dt>이름</dt>
            <dd><input type="text" id="sign-name" placeholder="ex) 크롱 (2-20 글자)"></dd>
            <dt>아이디</dt>
            <dd>
                <input type="text" id="sign-id" placeholder="ex) crong12 (4-10 글자)">
                <span id="check-dup">아이디 중복확인을 해주세요</span><button id="btn-duplication">중복확인</button>    
            </dd>
            <dt>비밀번호</dt>
            <dd><input type="password" id="sign-pwd" placeholder="문자와 숫자를 포함한 6-16 글자"></dd>
            <dt>전화번호</dt>
            <dd><input type="text" id="sign-tel" placeholder="ex) 01012345678"></dd>
        </dl>
        <button id="btn-sign-up">회원가입</button>
    </div>
</div>


<div class="nav">
    <ul class="navigator">
        {{#each navi-list}}
        <li id={{this.id}} data-dest={{this.dest}}>{{this.to}}</li>
        {{/each}}
    </ul>
    <div class="dropdown">
        <a href="javascript:;"><img src="/dist/public/images/menu.png" id="drop"></a>
        <ul class="dropdown-list">
            {{#each navi-list}}
            <li id={{this.id}} data-dest={{this.dest}}>{{this.to}}</li>
            {{/each}}
        </ul>
    </div>
</div>


<div class="board"></div>
