<div class="my-info">
    <div class="my-auth">
        <dl class="my-auth-form">
            <dt>이름</dt>
            <dd><input type="text" id="mod-name" value={{this.memberName}}></dd>

            <dt>비밀번호</dt>
            <dd><input type="password" id="mod-pwd"></dd>

            <dt>연락처</dt>
            <dd><input type="number" id="mod-tel" value={{this.memberTel}}></dd>
        </dl>

        <button id="btn-info-modify">수정하기</button>
    </div>

    <div class="vertical-line"></div>

    <div class="my-store">
        <dl class="my-store-form">
            <dt>우리가게 이름</dt>
            <dd>{{this.title}}</dd>

            <dt>우리가게 설명</dt>
            <dd>{{this.desc}}</dd>

            <dt>우리가게 전화번호</dt>
            <dd>{{this.tel}}</dd>

            <dt>우리가게 사진</dt>
            <dd class="my-img-box">
                <img src={{this.imgUrl}} alt="">
            </dd>

            <dt>우리가게 메뉴</dt>
            <dd class="menus">
                <table>
                    {{#each menus}}
                        {{#this}}
                        <tr>
                            <td class="menu-name">{{this.name}}</td>
                            <td class="menu-line">· · · · · ·</td>
                            <td class="menu-price">{{this.price}}</td>
                        </tr>
                        {{/this}}
                    {{/each}}
                </table>
            </dd>
        </dl>

        <button id="btn-go-modify">수정하러가기</button>
    </div>

</div>