<div class="store-list">
    <h1>가게 둘러보기</h1>
    <div class="store-card-list">
        {{#each this}}
        <div class="store-card" id="{{this.storeId}}">
            <img class="card-img" id="{{this.storeId}}" src= "{{this.storeImgUrl}}" alt="">
            <dl>
                <dt class="card-title" id="{{this.storeId}}">{{this.storeName}}</dt>
                <dd class="card-desc" id="{{this.storeId}}">{{trimString this.storeAddress 0 38}}</dd>
            </dl>
        </div>
        {{/each}}
    </div>

</div>