<div class="detail-btn-area">
    <button id="btn-back">뒤로가기</button>
</div>
<div class="store-detail">
    <div class="store-detail-img">
        <img src="{{this.imgUrl}}">
    </div>
    <div class="store-detail-info">
        <h2 class="store-detail-title">{{this.title}}</h2>
        <p class="store-detail-desc">
            상세설명 :: {{this.desc}} <br>
            전화번호 :: {{this.tel}} <br>
            주소 :: {{this.addr}} 
        </p>
    </div>
</div>